<%- include('../partials/html-head.ejs') %> 
</head>
<%- include("../partials/nav.ejs") %> 
<body>
  <h1><%= title %></h1>
  <section>
      <div>Flight Number: <%= flight.flightNo%></div>
      <div>Airline: <%= flight.airline%></div>
      <div>Airport: <%= flight.airport%></div>
      <div>Departs: <%= flight.departs %></div>
    </section>
    <h4>Destinations:</h4>
    <ul>
      <%- flight.destinations.map(p => 
        `<li>${p.airport}</li>`)%>
    </ul>
  </section>
    
  <% // add to cast form below this comment %>
  <form id="add-per-to-cast" action="/flights/<%= flight._id %>/destinations" method="POST">
    <select name="destinationId">
      <%- destinations.map(p => 
        `<option value="${p._id}">${p.airport}</option>`
      ).join('') %>
    </select>
    <button type="submit">Add to Flight's Destinations</button>
  </form>
    <section>
        <h2>Available Tickets:</h2>
        <% if (flight.tickets.length) { %>
          <% flight.tickets.forEach(ticket => { %>
              <div>Seat Number: <%= ticket.seatNumber %> </div>
              <div>Price: <%= ticket.price %></div>
          <% }) %>
        <% } else { %>
          <h4>No Tickets are available for Flight <%= flight.flightNo %> </h4>
          <% } %> 
    </section>
    <form action="/flights/<%= flight._id %>/tickets" method="POST">
      <h2>Add a New Ticket</h2>
      <label for="seatNumber">Seat Number:</label>
      <input type="text" name="seatNumber" required pattern="[A-F][1-9]\d?">
      <br>
      <label for="price">Price:</label>
      <input type="number" min="0" name="price">
      <br>
      <button type="submit">Add Ticket!</button>
    </form>
</body>
</html>